.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 80ch;
}

.header__logo {
    width: 100%;
    display: flex;
    line-height: 40px;
    text-align: left;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--color-link-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    font-size: var(--font-size-l);
    font-weight: bold;
    background-color: var(--color-bg-primary);
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 50%;
}

.header__logo-spacer {
    display: inline-block;
    width: 40px;
    height: 1px;
}

.header__logo-title {
}

.header__nav {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--color-bg-primary);
}

.header__links {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    font-size: var(--font-size-m);
    padding: 10px 15px;
    text-align: center;
}

.header__link-item {
}

.header__link {
    text-decoration: underline;
    color: var(--color-link-primary);
    line-height: 40px;
    display: block;
}

.header__link:hover,
.header__link:active {
    background-color: var(--color-bg-active);
    color: var(--color-link-inverted);
    text-decoration: none;
}

@media (min-width: 510px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header__logo {
        width: auto;
        box-shadow: none;
    }

    .header__nav {
        box-shadow: none;
    }

    .header__links {
        flex-direction: row;
    }

    .header__link-item:not(:last-child) {
        margin-right: 10px;
    }

    .header__link {
        padding: 0 10px;
    }
}
